.textCell {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
}
.action {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 24px;
  font-weight: 400;
  font-size: 10px;
  border-radius: 4px;
  padding: 8px 6px;
  svg {
    width: 16px;
    height: 16px;
  }
}

.view {
  background-color: var(--color-gray-layer-1);
  color: #354e66;

  .content {
    width: 130px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.copy {
  color: #354e66;
  background-color: var(--color-primary-layer-3);
}

.link {
  color: var(--color-text-accent-1-strong);
  background-color: var(--color-accent-1-layer-2);
}
