.groupRowWrapper {
  display: grid;
  grid-row-gap: 10px;
}
.groupRow {
  display: grid;
  grid-template-columns: min-content auto;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  padding: 8px 10px;
  min-width: 300px;
  align-items: center;
  border-radius: var(--radius-default);
  text-align: left;
}
.groupRowSelected {
  background-color: var(--accent1-300);
}
