
.summaryCard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;
  height: 88px;

  background: #C2E2FF;
  border-radius: 4px;

  @media only screen and (max-width: 750px) {
    max-width: none;
    min-width: 258px;
  }


}

.headerContainer {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  flex-grow: 1;
}
.heading {
  height: 20px;
  font-weight: 400;
  font-size: var(--font-size-small);
  color: #5D89B3;
}
.heading.icon {
  margin-left:auto;
  color: #5D89B3;

}


.valueContainer {
  display: flex;
  height: 56px;
  align-items: baseline;
}

.value {
  font-weight: 500;
  font-size: var(--font-size-large);
  padding-right: 8px;
}

.valueLabel {
  color: #5D89B3;
  font-weight: 400;
  font-size: 24px;
}


.inspectionContainer {
  max-width: 395px;
  height: 300px;
  overflow: visible;
  background: var(--color-primary-faint);
  z-index: 1;
  border-radius: 4px;
  margin-left: -16px;
  box-shadow: 0px 1px 14px rgba(53, 78, 102, 0.12), 0px 3px 5px rgba(53, 78, 102, 0.2);
}

dl {
  display: grid;
  grid-template-columns: 44% 56%;
  font-size: small;
  padding: 16px;
  grid-row-gap: 4px;
}

dl dd{
  text-align: end;
}
