.progressTabsWrapper {
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
}
.progressTabsContainer {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  grid-column-gap: 48px;
  will-change: transform;
  transition: transform 200ms;
}
@media only screen and (max-width: 700px) {
  .progressTabsContainer {
    width: 100%;
    grid-auto-columns: 100%;
  }
}
