.progressTabsWrapper {
  overflow-x: hidden;
}
.progressTabsContainer {
  width: 476px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 476px;
  grid-column-gap: 48px;
  will-change: transform;
  transition: transform 200ms;
}
.progressTabWrapper {
  flex-grow: 1;
  //width: 500px;

  //position: absolute;
  //left: 200%;
}
