.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  .label {
    font-size: var(--label-font-size);
  }
}
.tooltip {
  display: flex;
  svg {
    color: var(--input-color);
  }
}
.tooltipTextWrapper {
  position: relative;
  height: 0;
  overflow: hidden;
}
.tooltip:hover .tooltipTextWrapper {
  height: initial;
  overflow: visible;
}
.tooltipTextContainer {
  position: absolute;
  bottom: calc(100% + 8px);
  right: -4px;
  width: 200px;
  background-color: var(--input-default-background);
  border-radius: var(--radius-default);
  font-size: var(--font-size-normal);
  box-shadow: var(--hover-box-shadow);
  color: var(--input-label-color);
  svg {
    color: var(--input-label-color);
  }
}
.tooltipText {
  padding: 8px 8px;
  line-height: 150%;
}
.tooltipHeader {
  padding: 4px 8px;
  background-color: var(--input-hover-background);
  border-top-left-radius: var(--radius-default);
  border-top-right-radius: var(--radius-default);
}
