@import "../nodes/node_variants.module.scss";

.workflowNodeCard {
  display: grid;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  border-radius: var(--radius-default);
  cursor: initial;
  will-change: transform;
  overflow: initial;
  .dragging {
    // Add a box shadow to the element when dragging
    box-shadow: 0px 1px 14px rgba(53, 78, 102, 0.12), 0px 3px 5px rgba(53, 78, 102, 0.2);
    cursor: default;
  }

  &:focus {
    .workflowNodeHeader {
      background-color: var(--color-primary) !important;
      color: var(--color-white);
    }
  }
}
.triggerNode.workflowNodeCard {
  position: relative;
  top: initial;
  left: initial;
}
.connecting {
  z-index: -1 !important;
}
.workflowNodeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  background-color: var(--header-background-color);
  color: var(--color-white);
  padding-right: 20px;
  height: 40px;
  border-top-left-radius: var(--radius-default);
  border-top-right-radius: var(--radius-default);
  transition: border-radius 0.2s ease-in-out;
  overflow-y: visible;
  overflow-x: visible;
}
.collapseIcon {
  svg {
    transform: scale(1, -1);
  }
}
.workflowNodeBody {
  padding: 16px;
  background-color: var(--color-white);
  min-width: 300px;
  border-bottom-left-radius: var(--radius-default);
  border-bottom-right-radius: var(--radius-default);
}
.workflowNodeHeader.headerCollapsed {
  border-radius: var(--radius-default);
}
.nodeConnector {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  right: -20px;

  .nodeConnectorDot {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: 4px solid var(--color-primary-layer-2);
    background-color: var(--header-background-color);
    box-shadow: none;
  }

  &:hover {
    .nodeConnectorDot {
      background-color: var(--header-hover-background-color);
    }
  }
}

.nodeConnectorDragDot {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid var(--color-primary-layer-2);
  background-color: var(--header-background-color);
  border-radius: 50%;
  top: 10px;
  left: 10px;
  box-shadow: none !important;
  z-index: 10;
}
.title {
  flex-grow: 1;
  padding-right: 16px;
  cursor: text;
  min-width: 200px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  &:hover {
    background-color: var(--header-hover-background-color);
    filter: brightness(105%);
  }
}
.nameForm {
  position: relative;
  width: 300px;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 4px;
    height: 26px;
    width: 26px;
    z-index: 2;
    padding: 0;
    background-color: var(--color-accent-1-layer-4);
    color: var(--color-text-accent-1-strong);
    border-radius: var(--radius-default);
    transform: translateY(-50%);
  }
}
input.input {
  border: none;
  overflow: hidden;
  padding-right: 40px !important;
  &:focus {
    outline: none;
  }
}
// TODO: Move this!
.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
}
.selected {
  z-index: 10;
  // Two box-shadows looking like a single border without adding any size to the wrapping box.
  box-shadow: 0 0 0 2px var(--box-shadow-border-color-negator), 0 0 0px 4px var(--box-shadow-border-color);
}
