.filterRows {
  display: grid;
  grid-row-gap: 8px;
  font-size: 12px;
}
.combinerContainer {
  display: grid;
  justify-content: start;
  align-items: start;
  padding: 8px 8px 8px 8px;
  //padding-right: 0.5em;
  border-right: 1px solid var(--secondary-1-150);
  color: var(--secondary-1-600);
  &:hover {
    background-color: var(--secondary-1-100);
  }
}
.filterRow {
  background-color: var(--secondary-1-50);
  border-radius: 2px;
}
.filter {
  border-radius: 2px;
}
.filterKeyContainer {
  display: grid;
  grid-template-columns: min-content auto min-content;
  font-size: 12px;
  width: 100%;
}
.first .filterKeyContainer {
  grid-template-columns: auto min-content;
}
.filterKeyLabel {
  padding: 8px 8px 8px 8px;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    background-color: var(--secondary-1-100);
  }
}
.parameterLabel {
  overflow: hidden;
  text-overflow: ellipsis;
}
.filterParameterContainer {
}
.childFilter {
  border: 1px solid var(--secondary-1-100);
  border-top: none;
}
.childFilter .filterKeyLabel {
  &:hover {
    background-color: var(--primary-150);
  }
}
.filterFunctionLabel {
  color: var(--secondary-1-550);
}
.childFilter .filterFunctionLabel {
  color: var(--primary-600);
}
.first .filterKeyLabel {
  padding: 8px 12px;
}
.removeFilter {
  padding: 8px 8px;
  color: var(--secondary-1-600);
  border-left: 1px solid var(--secondary-1-150);
  &:hover {
    background-color: var(--secondary-1-100);
  }
}
.childFilter .removeFilter {
  color: var(--primary-600);
  border-left: 1px solid var(--primary-250);
  &:hover {
    background-color: var(--primary-150);
  }
}
.filterOptions {
  height: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  background-color: var(--secondary-1-0);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid var(--secondary-1-50);
}
.filterOptions.expanded {
  height: auto;
  overflow: initial;
  padding: 8px;
}
.childFilter {
  .filterKeyContainer {
    background-color: var(--primary-100);
  }
  .filterOptions {
    background-color: var(--primary-50);
    border: 1px solid var(--primary-100);
  }
  .combinerContainer {
    color: var(--primary-600);
    border-right: 1px solid var(--primary-250);
    &:hover {
      background-color: var(--primary-150);
    }
  }
}

.filterInputField {
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: var(--bg-default);
  font-size: var(--font-size-default);
  width: 100%;
  padding: 6.5px 10px;
  color: var(--fg-default);
  transition: border 100ms;
  &:focus {
    outline: none;
    border: 1px solid var(--secondary-1-150);
  }
  &.small {
    font-size: var(--font-size-small);
  }
}
.childFilter {
  background-color: white;
  padding: 8px;

  .filterInputField {
    &:focus {
      outline: none;
      border: 1px solid var(--primary-150);
    }
  }
}
.childWrapper {
  border-radius: 2px;
  > .filterKeyLabel {
    color: var(--secondary-1-600);
    //&:hover {
    //  background-color: var(--secondary-1-50);
    //}
  }
}
.noFilters {
  padding: 5px 10px;
  background-color: var(--bg-extra-faint);
  border: 1px solid var(--bg-subtle);
  border-radius: 2px;
  color: var(--fg-muted);
}

.buttonsRow {
  padding-top: 16px;
  display: flex;
  row-gap: 24px;
  justify-content: space-between;
}

.addFilterButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding: 8px;
  color: var(--secondary-1-600);
  font-size: 12px;
  &:hover {
    color: var(--secondary-1-600);
    //background-color: var(--secondary-1-100);
  }
}
.childWrapper {
  .addFilterButton {
    color: var(--primary-600);
    &:hover {
      color: var(--primary-600);
    }
  }
}
