@import "normalize.css.scss";
@import "variables.scss";
@import "colors.scss";
@import "typography.scss";
@import "shared.scss";

// Font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  margin: 0;
  background-color: var(--color-primary-layer-1);
}

html,
#root,
body,
.torq,
.main-content-wrapper,
.page-wrapper {
  height: 100%;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
