@import "variables.scss";
@import "typography.scss";
@import "shared.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

html,
#root,
body,
.torq,
.main-content-wrapper,
.page-wrapper {
  height: 100%;
}
