//.icon {
//  display: grid;
//  svg {
//    margin: 0;
//    height: 18px;
//    width: 18px;
//  }
//  &.small svg {
//    height: 16px;
//    width: 16px;
//  }
//  &.large svg {
//    height: 20px;
//    width: 20px;
//  }
//}
svg {
  height: auto;
}
html,
body,
#root > div {
  box-sizing: border-box;
  height: 100%;
}

// TODO: Consider cleaning this up as a component
.torq-input-field {
  border-radius: 2px;
  border: 1px solid var(--bg-subtle);
  background-color: var(--bg-default);
  font-size: var(--font-size-default);
  width: 100%;
  padding: 6.5px 10px;
  color: var(--fg-default);
  transition: border 100ms;
  &:focus {
    outline: none;
    border: 1px solid var(--bg-muted);
  }
  &.small {
    font-size: var(--font-size-small);
  }
}
.torq-input-icon-field {
  border-radius: 2px;
  background-color: var(--bg-default);
  font-size: var(--font-size-default);
  color: var(--fg-default);
  display: grid;
  grid-template-columns: auto min-content;
  justify-self: left;
  width: 100%;
  box-sizing: border-box;
  &.small {
    font-size: var(--font-size-small);
  }
  &:focus {
  }
  input {
    padding: 6.5px 10px;
    border: 1px solid transparent;
    border-right: none;
    transition: border 100ms;
  }
  input:focus {
    outline: none;
    border: 1px solid var(--bg-muted);
    border-right: none;
  }
  button {
    border: 1px solid transparent;
    border-left: none;
    transition: border 100ms;
    min-width: 39px;
    svg {
      transform: translateX(-4px);
    }
  }
  input:focus + button {
    outline: none;
    border: 1px solid var(--bg-muted);
    border-left: none;
  }
}

@media only screen and (min-width: 1200px) {
  .main-content-wrapper .show-nav-btn {
    display: none;
  }
  .main-content-wrapper.nav-hidden .show-nav-btn {
    display: grid;
  }
}
