.torq .icon {
  display: grid;
  svg {
    margin: 0;
    height: 18px;
    width: 18px;
  }
  &.small svg {
    height: 16px;
    width: 16px;
  }
  &.large svg {
    height: 20px;
    width: 20px;
  }
}
