@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;1,400&display=swap");

:root {
  --font-size-tiny: 10px;
  --font-size-small: 12px;
  --font-size-normal: 14px;
  --font-size-medium: 18px;
  --font-size-large: 32px;

  --line-height-normal: 125%;
  --line-height-slim: 0;

  --font-wight-normal: 400;
  --font-wight-title: 500;
}

@mixin text-tiny {
  font-size: var(--font-size-tiny);
  font-weight: var(--font-wight-normal);
}

@mixin text-small {
  font-size: var(--font-size-small);
  font-weight: var(--font-wight-normal);
}

@mixin text-normal {
  font-size: var(--font-size-normal);
  font-weight: var(--font-wight-normal);
}

@mixin text-medium {
  font-size: var(--font-size-medium);
  font-weight: var(--font-wight-title);
}

@mixin text-large {
  font-size: var(--font-size-large);
  font-weight: var(--font-wight-title);
}

@mixin L-regular {
  font-size: var(--font-L-regular);
  font-weight: 500;
}
@mixin XXL-regular {
  font-size: var(--font-XXL-regular);
  font-weight: 500;
}

*,
button,
div {
  font-family: "Plus Jakarta Sans", sans-serif;
}
body,
button,
input,
select,
textarea {
  font-family: "Plus Jakarta Sans", serif;
  font-size: var(--font-size-default);
  //font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--fg-default);
  font-variant-numeric: tabular-nums;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
  //font-size: var(--font-size-default);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--fg-default);
}
h1 {
  font-size: var(--font-size-XXL);
}
h2 {
  font-size: var(--font-size-XL);
}
h3 {
  font-size: var(--font-size-L);
}
h4 {
  font-size: var(--font-size-M);
}
svg {
  height: 1.25em;
}
a,
a:link,
a:visited {
  color: var(--fg-default);
  text-decoration: none;
}
a:hover {
  color: var(--fg-default);
  font-weight: 500;
}
