.viewsPopoverContent {
  //width: 375px;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}
.viewRows {
  display: grid;
  grid-row-gap: 8px;
}
.viewSelect {
  padding-left: 4px;
  height: 36px;
  display: flex;
  justify-self: left;
  align-items: center;
  font-size: var(--font-size-small);
  width: 100%;
  border: 1px solid transparent;
  //border-radius: var(--radius-default);
  cursor: pointer;
  &:hover {
    background-color: var(--color-primary-layer-3);
  }
}
.viewEdit {
  cursor: pointer;
}
.viewRowDragHandle,
.removeView,
.viewRowEdit {
  display: flex;
  align-content: center;
  justify-content: center;
  border-left: 1px solid var(--color-primary-layer-4);
  height: 36px;
  width: 36px;
  cursor: pointer;
  &:hover {
    background-color: var(--color-primary-layer-3);
    border-bottom-right-radius: var(--radius-default);
    border-top-right-radius: var(--radius-default);
  }
}
.viewRowDragHandle {
  border-left: none;
  &:hover {
    background-color: var(--color-primary-layer-4);
    border-radius: 0;
    border-bottom-left-radius: var(--radius-default);
    border-top-left-radius: var(--radius-default);
  }
}
.disabled {
  color: var(--fg-subtle);
}
.viewRowDragHandle {
  display: flex;
  align-items: center;
  height: 36px;
}
.viewRow {
  display: grid;
  height: 36px;
  grid-template-columns: 36px auto;
  grid-auto-columns: 36px;
  grid-auto-flow: column;
  background-color: var(--color-primary-layer-2);
  border-radius: var(--radius-default);
  color: var(--color-text-primary-strong);
  align-items: center;
  justify-items: center;
}
.selected {
  background-color: var(--color-success-layer-1);
  color: var(--color-text-success-strong);
  .removeView,
  .viewRowEdit {
    border-left: 1px solid var(--color-success-layer-3);
    &:hover {
      background-color: var(--color-success-layer-2);
    }
    border-bottom-right-radius: var(--radius-default);
    border-top-right-radius: var(--radius-default);
  }
  .viewRowDragHandle {
    &:hover {
      background-color: var(--color-success-layer-2);
    }
  }
  .viewSelect:hover {
    //background-color: var(--color-success-layer-2);
    background-color: transparent;
  }
}
