.button {
  border-radius: var(--radius-default);
  display: flex;

  align-items: center;
  justify-content: center;
  column-gap: 4px;
  padding: 8px 12px 8px;
  height: 40px;
  min-width: 40px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  white-space: nowrap;
  text-align: center;

  &:disabled {
    opacity: 50%;
  }

  &.primary {
    background-color: var(--content-default);
    border-color: var(--content-faded);
    color: var(--primary-50);
    &:hover {
      background-color: var(--primary-800);
    }
    &:active {
      background-color: var(--primary-900);
    }
  }
  &.secondary {
    background-color: var(--content-faint);
    border-color: var(--content-subtle);
    color: var(--content-default);
    &:hover {
      background-color: var(--color-white);
    }
    &:active {
      background-color: var(--content-subtle);
    }
  }
  &.ghost {
    background-color: transparent;
    color: var(--content-default);
    // hover / active and disabled needs designing
  }
  &.subtle {
    background-color: var(--primary-50);
    color: var(--content-default);
    border-color: var(--primary-250);
    // hover / active and disabled needs designing
  }
  &.warning {
    background-color: var(--color-red);
    color: var(--color-white);
    // hover / active and disabled needs designing
  }
  &.green {
    color: var(--secondary-2-700);
    background-color: var(--secondary-2-50);
    border-color: var(--secondary-2-350);
    // hover / active and disabled needs designing
  }

  &.open {
    background-color: var(--accent1-300);
    border: 1px solid var(--accent1-400);
  }

  //&:global(.small),
  //&:global(.small) :global(.icon) {
  //  font-size: var(--font-size-small);
  //}

  //&:global(.small) {
  //  padding: 2px 4px;
  //}

  &:global(.disabled) {
    color: var(--fg-muted);
    border: 1px solid var(--fg-subtle);
    background-color: transparent;
  }

  &:global(.danger) {
    color: var(--fg-default);
    background-color: var(--secondary-300);
    border: 1px solid var(--secondary-400);
  }

  &:global(.secondary2) {
    background-color: var(--secondary-2-50);
    border: 1px solid var(--secondary-2-250);
  }

  :global(.text) {
    text-overflow: ellipsis;
  }
}

.positionCenter {
  margin-left: auto;
  margin-right: auto;
}
.positionFullWidth {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .button:global(.small-tablet),
  .button:global(.small-tablet .icon) {
    font-size: var(--font-size-small);
  }
  .button:global(.collapse-tablet) {
    padding: 5px 0.5em;
    :global(.text) {
      display: none;
    }
  }
}

/*
Tab Button
*/
.tabButton {
  display: flex;
  height: 40px;
  align-items: center;
  justify-items: center;
  grid-auto-flow: column;
  grid-column-gap: 4px;
  padding: 8px;
  border-bottom: 1px solid var(--color-border-primary-faded);
  color: var(--content-default);
  white-space: nowrap;
  &:hover {
    //background-color: var(--content);
    font-weight: normal;
    border-bottom-color: var(--primary-500);
  }
  &.tabSelected {
    border-color: var(--content-default);
  }
}

.small {
  font-size: var(--font-size-small);
  padding: 0px 7px;
}
.medium {
  font-size: var(--font-size-default);
}
.large {
  font-size: var(--font-size-M);
}
.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
