@import "../input-colors.module.scss";
.radioChipsWrapper {
  label {
    line-height: 24px;
  }
}
.radioChipsLabel {
  color: var(--input-label-color);
  font-size: var(--label-font-size);
}
.radioChipsContainer {
  display: flex;
  height: var(--input-height);
  background-color: var(--input-default-background);
  border-radius: var(--radius-default);
}
.optionWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 var(--indicator-padding);
  cursor: pointer;
  input {
    display: none;
  }
  label {
    cursor: pointer;
    height: calc(100% - 8px);
    border-radius: var(--input-height);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 var(--indicator-padding);
    transition: background-color 150ms ease-in-out;
    user-select: none;
    font-size: var(--input-font-size);
    &:hover {
      border: 1px solid var(--input-hover-background);
    }
  }
  input:checked + label {
    background-color: var(--input-checked-background);
  }
}
.vertical {
  .radioChipsContainer {
    flex-direction: column;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    row-gap: 4px;
  }
  .optionWrapper {
    flex-direction: column;

    height: var(--input-height);
    label {
      justify-content: flex-start;
      padding-left: 16px;
      padding-right: 16px;
      height: var(--input-height);
      &:hover {
        border: 1px solid var(--input-hover-background);
        padding-left: 14px;
        padding-right: 14px;
      }
    }
  }
}
