.torq .table-content {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  //grid-row-gap: 5px;
  grid-column-gap: 0px;
  height: fit-content;
}
.torq .table-controls-wrapper {
  position: sticky;
  left: 0;
  right: 0;
  top: -94px;
  z-index: 10;
  width: calc(100vw - 310px);
}
.torq .nav-hidden .table-controls-wrapper {
    width: calc(100vw - 40px);
}

