.torq .table-content {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-column-gap: 0px;
  overflow: scroll;
  height: 100vh;
}
.torq .table-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
}
