.torq .table-controls {
  padding: 20px 35px 10px 20px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  justify-items: space-between;
  align-items: center;
  .left-container {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 10px;
    justify-content: start;
    align-items: center;
  }
  .upper-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
  }
  .lower-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
  }
  .right-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
  }
}
