.torq .table-content {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 5px;
  grid-column-gap: 20px;
  overflow-x: scroll;
  width: calc(100vw - 355px);

  .cell, .header {
    display: grid;
    justify-items: end;
    align-items: end;
    &.group_name {
      justify-items: start;
    }
  }

  .header {
    grid-row-gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--bg-lines);
  }

}

//.torq .table-content {
//  display: grid;
//  grid-auto-flow: column;
//  grid-column-gap: 0;
//  align-items: center;
//
//  .column {
//    &.numeric .row, &.numeric .header {
//      justify-items: end;
//    }
//  }
//
//  .header {
//    display: grid;
//    grid-row-gap: 5px;
//    padding-bottom: 10px;
//    border-bottom: 1px solid var(--fg-default);
//  }
//  .row {
//    height: 68px;
//    display: grid;
//    grid-auto-flow: column;
//    align-items: center;
//  }
//}

