.tableContent {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-column-gap: 0px;
  overflow: scroll;
  height: 100vh;
}
.tableWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
}

.loading {
  transition: opacity 250ms;
  opacity: 0;
}
.idle {
  transition: opacity 250ms;
  opacity: 1;
}
.tableRow {
  display: contents;
}
.tableRow:hover :global(.cell) {
  //font-weight: 500;
  background-color: var(--accent-a-100);
  //-webkit-box-shadow: inset 0px -1px 0px 0px var(--primary-400);
  //box-shadow: inset 0px -1px 0px 0px var(--primary-400);
}
