.torq .table-controls-wrapper {

}
.torq .table-controls {
  padding: 30px 40px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  justify-items: space-between;
  align-items: center;
  .left-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
  }
  .right-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
  }
}
