.tableContent {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-column-gap: 0;
  overflow: scroll;
  scrollbar-gutter: stable;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  transition: opacity 200ms ease-in-out;
}

.tableWrapper {
  display: flex;
  height: 100%;
  flex-direction: row;
  border-radius: var(--radius-large);
  overflow: hidden;
}

.loading {
  opacity: 0.5;
}

@media only screen and (min-width: 900px) {
  .tableContent:global(::-webkit-scrollbar) {
    background-color: transparent;
  }
  .tableContent:global(::-webkit-scrollbar-track) {
    border: none;
    overflow: visible;
    z-index: 100;
    position: absolute;
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .tableContent:global(::-webkit-scrollbar-thumb) {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 7px;
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }

  .tableContent:global(::-webkit-scrollbar-button) {
    display: none;
    width: 0;
    height: 0;
  }

  .tableContent:global(::-webkit-scrollbar-corner) {
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
}
