@import "../nodes/node_variants.module.scss";

.contentWrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto;
  grid-template-rows: min-content;
  grid-column-gap: 32px;
  grid-row-gap: 0;
  min-height: 300px;
}
@media only screen and (max-width: 900px) {
  .contentWrapper {
    grid-column-gap: 0;
  }
}
.workflowWrapper {
  min-height: 300px;
  position: absolute;
  top: 8px;
  left: 0;
  bottom: 0;
  right: 0;

  @media only screen and (max-width: 900px) {
    padding-bottom: 12px;
    padding-right: 12px;
  }
  border-radius: var(--radius-default);
  overflow: hidden;
  display: none;
  &.selectedStage {
    display: block;
  }
}
.workspaceCanvas {
  min-height: 300px;
  height: 100%;
  background-color: var(--color-primary-layer-2);
  background-image: url("workflow_canvas_pattern.svg");
  background-repeat: repeat;
  overflow: hidden;
  cursor: grab;
  will-change: transform;
  &.dragging {
    cursor: grabbing;
  }
}
.connectorLinesCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
  overflow: visible;
}
.canvasDragSurface {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: grab;
  will-change: transform;
  &.dragging {
    cursor: grabbing;
  }
}
.triggerNodeContainer,
.stageTriggerContainer {
  cursor: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 380px;
}
.stageTriggerContainer {
  width: initial;
}
.triggerBody {
  border-bottom-left-radius: var(--radius-default);
  border-bottom-right-radius: var(--radius-default);
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  align-items: stretch;
  padding: 16px 16px 16px 16px;
  background-color: var(--color-primary-layer-4);
}
.triggerContainerHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 8px 16px;
  background-color: var(--color-primary-faint);
  border-top-left-radius: var(--radius-default);
  border-top-right-radius: var(--radius-default);
  color: var(--color-white);
}
