.views-popover-content {
  width: 375px;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
  .view-rows {
    margin-bottom: 20px;
    display: grid;
    grid-row-gap: 10px;
  }
  .view-select {
    display: grid;
    grid-template-columns: auto 21px;
    justify-self: left;
    padding: 6.5px 10px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
  }
  .view-edit {
    display: grid;
    grid-template-columns: auto min-content;
    justify-self: left;
  }
  .remove-view.disabled {
    color: var(--fg-subtle);
  }
  .view-row {
    display: grid;
    grid-template-columns: 36px auto 36px;
    align-items: center;
    justify-items: center;
  }
}
