.torq-popover-button-wrapper {
  position: relative;

  .popover-wrapper {
    max-height: calc(100vh - 120px);
    z-index: 20;
    background-color: var(--bg-default);
    position: absolute;
    left: 0;
    min-width: 100px;
    border-radius: 3px;
    border: 1px solid var(--bg-subtle);
    box-shadow: var(--popover-box-shadow);
    top: -2000px;
    transition: top 0ms 100ms, opacity 100ms 0ms;
    opacity: 0;
    .popover-container {
      padding: 20px;
    }
    @media only screen and (max-width: 900px) {
      position: fixed;
      left: 20px;
      right: 20px;
      top: -20000px;
    }

    @media only screen and (max-width: 600px) {
      //position: fixed;
      top: -20000px;
      right: 0px;
      left: 0px;
      max-height: initial;
      height: 100vh;
      width: 100vw;
      z-index: 1000;
      overflow-y: scroll;
      .popover-container {
        padding: 10px;
      }
    }
    .popover-mobile-dismiss {
      position: sticky;
      top: 0;
      z-index: 21;
      display: none;
      grid-template-columns: max-content min-content;
      white-space: nowrap;
      text-overflow: ellipsis;
      justify-content: space-between;
      height: 60px;
      padding: 10px;
      border-bottom: 1px solid var(--bg-subtle);
      background-color: var(--bg-extra-faint);
      .dismiss-button {
        padding-right: 10px;
        padding-left: 10px;
      }
      @media only screen and (max-width: 600px) {
        display: grid;
        align-items: center;
      }
    }
  }
  &.scrollable .popover-wrapper {
    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .popover-wrapper.popover-open {
    top: calc(100% + 10px);
    transition: top 0ms 0ms, opacity 100ms 0ms;
    opacity: 1;
    @media only screen and (max-width: 900px) {
      position: fixed;
      top: calc(100% + 10px);
    }
    @media only screen and (max-width: 600px) {
      top: 0px;
    }
  }
}
.right .popover-wrapper.popover-open {
  right: 0px;
  left: initial;
  .popover-container {
    padding: 0;
  }
  @media only screen and (max-width: 1199px) {
    right: 0px;
  }
  @media only screen and (max-width: 600px) {
    right: 0px;
  }
}
.no-padding .popover-wrapper.popover-open {
  .popover-container {
    padding: 0;
  }
}
