.tableContent {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-column-gap: 0px;
  overflow: scroll;
  height: 100vh;
}
.tableWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
}

.loading {
  transition: opacity 250ms;
  opacity: 0;
}
.idle {
  transition: opacity 250ms;
  opacity: 1;
}
.tableRow {
  display: contents;
}
:global(.tableRow):hover :global(.cell) {
  background-color: var(--accent-a-100);
}
