.tick line {
  visibility: hidden;
}
.tick text {
  fill: var(--fg-muted);
}
.xAxisContainer path.domain {
  stroke: var(--bg-subtle);
}
.yAxisContainer path.domain {
  visibility: hidden;
}
.testing {
  position: relative;
  height: 100%;
  display: flex;
  flex: 1;
  align-content: stretch;
  flex-direction: column;
  justify-content: space-between;
}
