.header {
  cursor: pointer;
  display: flex;
  column-gap: 16px;
  padding: 16px 24px;
  background-color: var(--color-primary-layer-2);
  border-radius: var(--radius-default);
  &.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .connectionIcon {
    width: 32px;
    height: 32px;
    color: var(--color-red-500);
    background-color: var(--color-red-300);
    border: 1px solid var(--color-red-500);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    //svg {
    //  width: 16px;
    //  height: 16px;
    //}
    &.connected {
      color: var(--secondary-2-600);
      background-color: var(--secondary-2-150);
      border: 1px solid var(--secondary-2-300);
    }
    &.disabled {
      color: var(--content-muted);
      background-color: var(--content-faded) !important;
      border: 1px solid var(--content-subtle);
    }
  }
  .collapseIcon {
    margin-left: auto;
    transition: 0.3s transform ease-in-out;
    transform: rotate(0deg);
    //&.collapsed {
    //  transform: rotate(90deg);
    //}
  }
  .title {
    //margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-default);
  }
  .title,
  .collapseIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-top: 4px;
  }
}
.borderSection {
  //padding-top: 15px;;
}
.nodeDetailsCollapseContainer {
  background-color: var(--color-layer-0);
  padding: 0px 16px 16px;
  border-radius: 0 0 4px 4px;
  border: 1px solid var(--color-border-primary-faint);
  border-top: none;
  &.addMode {
    padding: 0;
    border: none;
  }
}
.detailHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 16px;
}
.moreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--content-faded);
  border: 1px solid var(--content-subtle);
  border-radius: var(--radius-default);
  //margin-right: -8px;
  cursor: pointer;
  &:hover {
    background-color: var(--primary-100);
    color: var(--content-default);
  }
}
.moreIcon {
  //transform: rotate(90deg);
  width: 24px;
  height: 24px;
}

.deleteConfirm {
  p,
  input {
    margin: 10px 0;
  }

  .red {
    color: var(--color-red);
  }
}
:global(.ReactCollapse--collapse) {
  transition: height 5000ms;
}
.nodeMenu {
  padding: 10px;
  display: flex;
  flex-direction: column;
  button:not(:last-child) {
    margin-bottom: 15px;
  }
  width: 180px;
}
.nodeForm {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.importFailedPayments {
  margin-bottom: var(--form-margin-bottom);
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.pingSystems {
  margin-top: 16px;
  background-color: var(--color-primary-layer-2);
  border-radius: var(--radius-default);
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.collapseContentWrappper {
  padding: 16px;
  background-color: var(--color-white);
  border-bottom-left-radius: var(--radius-default);
  border-bottom-right-radius: var(--radius-default);
}
.addMode {
  padding: 0;
  border: none;
}
.customImportSettingsBody {
  padding: 16px 16px 16px;
  background-color: var(--color-primary-layer-1);
  border-radius: var(--radius-default);
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
