.settingsPage {
  height: 100%;
  overflow: scroll;
  width: 100%;
}
.settingsColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 300px;
  max-width: 440px;
  gap: 30px;
  padding-bottom: 20px;
}
.settingsForm {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.nodeSettingsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.footer {
  text-align: center;
  margin-top: auto;
}
