.center {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(300px, 440px);
  grid-row-gap: 30px;
  padding-bottom: 20px;
}
.settingsForm {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.nodeSettingsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
