@import "../input-colors.module";
.socketInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--input-color);
  font-size: var(--font-size-small);
}
.socketInputContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 32px;
  color: var(--input-color);
  background-color: var(--input-default-background);
  z-index: 30;
  border-radius: var(--radius-default);
  padding: 5px 12px;
}
.collapsed.socketInputContainer {
  position: static;
}
.dragOver .socketInputContainer {
  background-color: var(--input-hover-background) !important;
  //border: 1px solid var(--input-focus-border-color);
}
label {
  color: var(--input-label-color);
}
.nodeSocket {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  min-height: 40px;
  padding-right: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: -56px;
}
.collapsed .nodeSocket {
  position: absolute;
  top: 20px;
  left: -40px;
}
.socketDot {
  width: 16px;
  height: 16px;
  border: 2px solid var(--input-focus-border-color);
  border-radius: 10px;
  z-index: 2;
  box-shadow: none;
  background-color: var(--color-primary-layer-4);
  &.dragOver {
    background-color: var(--input-hover-background);
  }
}
.connectedNodeNames {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;
}
.connectionTag {
  background-color: var(--color-border-primary-faded);
  color: var(--color-primary-layer-1);
  padding: 4px 8px;
  border-radius: var(--radius-default);
  // Overflow elipsis
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.feedbackWrapper {
  display: flex;
  gap: 4px;
  font-size: var(--font-size-small);
  .feedbackText {
    margin-top: 1px;
  }
  svg {
    height: 16px;
    width: 16px;
  }
}
