@import "../input-colors.module";
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--input-color);
  // color both text and all icons in the same color
  svg {
    color: var(--input-placeholder-color);
  }
  label {
    color: var(--input-label-color);
  }
}
.input {
  color: var(--input-color);
  font-size: var(--input-font-size);
  background-color: var(--input-default-background);
  border: 1px solid transparent;
  border-radius: var(--radius-default);
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  outline: none !important;
  &:hover {
    background-color: var(--input-hover-background);
  }
  &:focus {
    background-color: var(--input-focus-background);
    border: 1px solid var(--input-focus-border-color);
  }
  &::placeholder {
    color: var(--input-placeholder-color);
  }
}
.inputFieldContainer {
  position: relative;
}
.leftIcon {
  display: none;
}
.hasLeftIcon {
  .leftIcon {
    position: absolute;
    top: calc(50% - 10px);
    left: 12px;
    display: flex;
    align-items: center;
    svg {
      height: 20px;
      width: 20px;
    }
  }
  input {
    padding-left: 44px;
  }
}
.inputWrapper.small {
  font-size: var(--font-size-small);
  .input {
    height: 32px;
    padding: 8px 12px;
  }
  .hasLeftIcon {
    .leftIcon {
      top: calc(50% - 8px);
      left: 12px;
      svg {
        height: 16px;
        width: 16px;
      }
    }
    input {
      padding-left: 36px;
    }
  }
}
.inputWrapper.tiny {
  .label {
    font-size: var(--font-size-small);
  }
  .input {
    font-size: var(--font-size-small);
    height: 24px;
    padding: 8px 12px;
  }
  .hasLeftIcon {
    .leftIcon {
      top: calc(50% - 8px);
      left: 8px;
      svg {
        height: 16px;
        width: 16px;
      }
    }
    input {
      padding-left: 32px;
    }
  }
}
.inputWrapper.inline {
  width: 100%;
  .label {
    font-size: var(--font-size-small);
  }
  .input {
    display: flex;
    justify-self: left;
    align-items: center;
    font-size: var(--font-size-small);
    background-color: transparent;
    height: auto;
    margin: 0;
    //width: 100%;
    border: none;
    padding: 0px;
    padding-left: 5px;
    text-align: left;
  }
  .hasLeftIcon {
    .leftIcon {
      top: calc(50% - 8px);
      left: 8px;
      svg {
        height: 16px;
        width: 16px;
      }
    }
    input {
      padding-left: 32px;
    }
  }
}
.feedbackWrapper {
  display: flex;
  gap: 4px;
  font-size: var(--font-size-small);
  .feedbackText {
    margin-top: 1px;
  }
  svg {
    height: 16px;
    width: 16px;
  }
}
.inputWrapper.tiny {
  .feedbackWrapper {
    font-size: var(--font-size-tiny);
    .feedbackText {
      margin-top: 0px;
    }
    svg {
      height: 12px;
      width: 12px;
    }
  }
}
.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  .label {
    font-size: var(--font-size-small);
  }
}
.tooltip {
  display: flex;
  svg {
    color: var(--input-color);
  }
}
.tooltipTextWrapper {
  position: relative;
  height: 0;
  overflow: hidden;
}
.tooltip:hover .tooltipTextWrapper {
  height: initial;
  overflow: visible;
}
.tooltipTextContainer {
  position: absolute;
  bottom: calc(100% + 8px);
  right: -4px;
  width: 200px;
  background-color: var(--input-default-background);
  border-radius: var(--radius-default);
  font-size: var(--font-size-normal);
  box-shadow: var(--hover-box-shadow);
  color: var(--input-label-color);
  svg {
    color: var(--input-label-color);
  }
}
.tooltipText {
  padding: 8px 8px;
  line-height: 150%;
}
.tooltipHeader {
  padding: 4px 8px;
  background-color: var(--input-hover-background);
  border-top-left-radius: var(--radius-default);
  border-top-right-radius: var(--radius-default);
}
