.primary {
  --input-default-background: var(--color-primary-layer-2);
  --input-hover-background: var(--color-primary-layer-4);
  --input-focus-background: var(--color-primary-layer-1);
  --input-focus-border-color: var(--color-border-primary-faded);
  --input-placeholder-color: var(--color-text-primary-faded);
  --input-color: var(--color-text-primary-strong);
}

.success {
  --input-default-background: var(--color-success-layer-2);
  --input-hover-background: var(--color-success-layer-3);
  --input-focus-background: var(--color-success-layer-1);
  --input-focus-border-color: var(--color-border-success-faded);
  --input-placeholder-color: var(--color-text-success-faded);
  --input-color: var(--color-text-success-strong);
}
.warning {
  --input-default-background: var(--color-warning-layer-2);
  --input-hover-background: var(--color-warning-layer-4);
  --input-focus-background: var(--color-warning-layer-1);
  --input-focus-border-color: var(--color-border-warning-faded);
  --input-placeholder-color: var(--color-text-warning-faded);
  --input-color: var(--color-text-warning-strong);
}

.error {
  --input-default-background: var(--color-error-layer-2);
  --input-hover-background: var(--color-error-layer-3);
  --input-focus-background: var(--color-error-layer-1);
  --input-focus-border-color: var(--color-border-error-faded);
  --input-placeholder-color: var(--color-text-error-faded);
  --input-color: var(--color-text-error-faded);
}

.accent1 {
  --input-default-background: var(--color-accent-1-layer-2);
  --input-hover-background: var(--color-accent-1-layer-3);
  --input-focus-background: var(--color-accent-1-layer-1);
  --input-focus-border-color: var(--color-border-accent-1-faded);
  --input-placeholder-color: var(--color-text-accent-1-faded);
  --input-color: var(--color-text-accent-1-strong);
}

.accent2 {
  --input-default-background: var(--color-accent-2-layer-2);
  --input-hover-background: var(--color-accent-2-layer-3);
  --input-focus-background: var(--color-accent-2-layer-1);
  --input-focus-border-color: var(--color-border-accent-2-faded);
  --input-placeholder-color: var(--color-text-accent-2-faded);
  --input-color: var(--color-text-accent-2-strong);
}

.accent3 {
  --input-default-background: var(--color-accent-3-layer-2);
  --input-hover-background: var(--color-accent-3-layer-3);
  --input-focus-background: var(--color-accent-3-layer-1);
  --input-focus-border-color: var(--color-border-accent-3-faded);
  --input-placeholder-color: var(--color-text-accent-3-faded);
  --input-color: var(--color-text-accent-3-strong);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--input-color);
  // color both text and all icons in the same color
  svg {
    color: var(--input-placeholder-color);
  }
}
.input {
  color: var(--input-color);
  background-color: var(--input-default-background);
  border: 1px solid transparent;
  border-radius: var(--radius-default);
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  outline: none !important;
  &:hover {
    background-color: var(--input-hover-background);
  }
  &:focus {
    background-color: var(--input-focus-background);
    border: 1px solid var(--input-focus-border-color);
  }
  &::placeholder {
    color: var(--input-placeholder-color);
  }
}
.inputFieldContainer {
  position: relative;
}
.leftIcon {
  display: none;
}
.hasLeftIcon {
  .leftIcon {
    position: absolute;
    top: calc(50% - 10px);
    left: 12px;
    display: flex;
    align-items: center;
    svg {
      height: 20px;
      width: 20px;
    }
  }
  input {
    padding-left: 44px;
  }
}
.inputWrapper.small {
  font-size: var(--font-size-small);
  .input {
    height: 32px;
    padding: 8px 12px;
  }
  .hasLeftIcon {
    .leftIcon {
      top: calc(50% - 8px);
      left: 12px;
      svg {
        height: 16px;
        width: 16px;
      }
    }
    input {
      padding-left: 36px;
    }
  }
}
.inputWrapper.tiny {
  .label {
    font-size: var(--font-size-small);
  }
  .input {
    font-size: var(--font-size-small);
    height: 24px;
    padding: 8px 12px;
  }
  .hasLeftIcon {
    .leftIcon {
      top: calc(50% - 8px);
      left: 8px;
      svg {
        height: 16px;
        width: 16px;
      }
    }
    input {
      padding-left: 32px;
    }
  }
}
