@import "../input-colors.module";
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--input-color);
  // color both text and all icons in the same color
  svg {
    color: var(--input-placeholder-color);
  }
  label {
    color: var(--input-label-color);
  }
}
.input {
  color: var(--input-color);
  background-color: var(--input-default-background);
  border: 1px solid transparent;
  border-radius: var(--radius-default);
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  outline: none !important;
  &:hover {
    background-color: var(--input-hover-background);
  }
  &:focus {
    background-color: var(--input-focus-background);
    border: 1px solid var(--input-focus-border-color);
  }
  &::placeholder {
    color: var(--input-placeholder-color);
  }
}
.inputFieldContainer {
  position: relative;
}
.leftIcon {
  display: none;
}
.hasLeftIcon {
  .leftIcon {
    position: absolute;
    top: calc(50% - 10px);
    left: 12px;
    display: flex;
    align-items: center;
    svg {
      height: 20px;
      width: 20px;
    }
  }
  input {
    padding-left: 44px;
  }
}
.inputWrapper.small {
  font-size: var(--font-size-small);
  .input {
    height: 32px;
    padding: 8px 12px;
  }
  .hasLeftIcon {
    .leftIcon {
      top: calc(50% - 8px);
      left: 12px;
      svg {
        height: 16px;
        width: 16px;
      }
    }
    input {
      padding-left: 36px;
    }
  }
}
.inputWrapper.tiny {
  .label {
    font-size: var(--font-size-small);
  }
  .input {
    font-size: var(--font-size-small);
    height: 24px;
    padding: 8px 12px;
  }
  .hasLeftIcon {
    .leftIcon {
      top: calc(50% - 8px);
      left: 8px;
      svg {
        height: 16px;
        width: 16px;
      }
    }
    input {
      padding-left: 32px;
    }
  }
}
.feedbackWrapper {
  display: flex;
  gap: 4px;
  font-size: var(--font-size-small);
  .feedbackText {
    margin-top: 1px;
  }
  svg {
    height: 16px;
    width: 16px;
  }
}
.inputWrapper.tiny {
  .feedbackWrapper {
    font-size: var(--font-size-tiny);
    .feedbackText {
      margin-top: 0px;
    }
    svg {
      height: 12px;
      width: 12px;
    }
  }
}
