.stagesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-grow: 1;
  position: absolute;
  top: 24px;
  left: 16px;
  z-index: 10;
  column-gap: 0px;
}
.stageContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0;
  border-bottom-left-radius: var(--radius-default);
  border-top-left-radius: var(--radius-default);
  position: relative;
  fill: var(--color-primary-layer-4);
  transition: fill 100ms ease-in-out;
  svg {
    padding: 0;
  }
  &:hover {
    fill: var(--color-primary-faint);
  }
  &.selected {
    fill: var(--color-primary-faint);
  }
}
.stageContainer + .stageContainer {
  margin-left: -8px;
}

.stage {
  background-color: var(--color-primary-layer-4);
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
  padding-left: 8px;
  padding-right: 8px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stage:not(svg + .stage) {
  border-bottom-left-radius: var(--radius-default);
  border-top-left-radius: var(--radius-default);
  padding-left: 12px;
}

.stage.disabled {
  background-color: var(--color-text-primary-extra-faint);
  &:hover {
    cursor: default;
    fill: var(--color-text-primary-extra-faint);
  }
}

.deleteStage {
  display: flex;
  width: 0px;
  overflow: hidden;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  transition: width 200ms ease-in-out, margin-right 200ms ease-in-out;
}
.stageContainer.selected .deleteStage {
  margin-right: -20px;
  width: 40px;
}
.stageContainer.selected .stage {
  background-color: var(--color-primary-faint);
}
.stageContainer:hover .stage {
  background-color: var(--color-primary-faint);
}
.stageContainer:has(.stage .deleteStage:hover) {
  fill: var(--color-error-layer-4);
}
.stage:has(.deleteStage:hover) {
  background-color: var(--color-error-layer-4);
  color: var(--color-text-error-strong);
}

.stageContainer:has(.stage .deleteStage:hover .disabled) {
  background-color: var(--color-primary-faint);
}
.stage:has(.deleteStage:hover) {
  background-color: var(--color-error-layer-4);
  color: var(--color-text-error-strong);
}

.stage:has(.deleteStage:hover .disabled) {
  background-color: var(--color-primary-faint);
  color: var(--color-text-error-strong);
}

.stageContainer:hover .stage.disabled {
  background-color: var(--color-text-primary-extra-faint);
}

.disabledStage {
  fill: var(--color-text-primary-extra-faint);
  &:hover {
    cursor: default;
    fill: var(--color-text-primary-extra-faint);
  }
}
