.nodeSelection {
  margin-top: 24px;
  margin-bottom: 16px;
}

.addressTypes {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.addressTypeButtons {
  background-color: var(--primary-50);
  border: 1px solid var(--primary-250);
  border-radius: 2px;
  color: var(--primary-700);
  padding: 8px 12px;
  &:hover {
    background-color: var(--primary-100);
  }
}
.newAddressResult {
  word-break: break-all;
}
.destinationType {
  word-break: break-all;
  text-align: center;
  color: var(--content-default);
  background-color: var(--content-faded);
  border-radius: 2px;
  padding: 8px 12px 8px;
  &.unknownAddressType {
    background-color: var(--color-baige-400);
    color: var(--content-default);
  }
  &.errorDestination {
    background-color: var(--color-red-300);
    color: var(--color-red-700);
  }
}

.customButtonWrapperStyles {
  margin-top: 24px;
  margin-bottom: 16px;
}
.newAddressStatusMessage {
  padding: 8px;
  width: min-content;
  border-radius: 100%;
  margin: 12px auto;
  svg {
    font-size: 124px;
  }
}
.newAddressError {
  background-color: var(--color-red-300);
  color: var(--color-red-500);
}
.addressResultWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}
