.breadcrumbs {
  max-width: 320px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--content-muted);
  a,
  a:link,
  a:visited {
    color: var(--content-muted);
  }
  a:hover,
  a:active {
    color: var(--content-default);
    font-weight: 400;
  }
  @media only screen and (max-width: 700px) {
    max-width: 320px;
  }
}
