.date-range-button {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  @media only screen and (max-width: 600px) {
    width: calc(100vw - 20px);
    grid-template-columns: min-content auto min-content;
  }
}
.popover-open .date-range-button {
  @media only screen and (max-width: 600px) {
    width: 100%;
    grid-template-columns: min-content auto min-content;
    .time-travel-arrow {
      display: none;
    }
  }
}
.date-range-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  z-index: 20;

  .time-travel-arrow {
    display: grid;
    justify-items: center;
    width: 33px;
    cursor: pointer;
    @media only screen and (max-width: 600px) {
      //width: 43px;
    }
  }
  .rdrCalendarWrapper.rdrDateRangeWrapper {
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
  .custom-mobile {
    display: none;
    @media only screen and (max-width: 600px) {
      display: block;
    }
  }
  .rdrStaticRange:hover .rdrStaticRangeLabel,
  .rdrStaticRange:focus .rdrStaticRangeLabel {
    background: transparent;
  }
  .rdrDateRangePickerWrapper {
    color: #033048;
    border-radius: 2px;

    @media only screen and (max-width: 600px) {
      background-color: transparent;
      border: none;
      box-shadow: none;
      width: 100%;
    }
    .rdrDayNumber span {
      color: #033048 !important;
    }
    .rdrDay {
      height: 2.6em;
    }
    .rdrDayPassive {
      opacity: 0;
    }
    .rdrStaticRange {
      border-bottom: none;
    }
    .rdrStaticRangeLabel {
      font-size: 14.5px;
      color: #8198a3;
    }
    .rdrStaticRangeSelected {
      font-weight: bold;

      .rdrStaticRangeLabel {
        color: #033048 !important;
      }
    }
    .rdrMonth {
      box-sizing: content-box;
      width: 274px;
      //padding-bottom: 0;
    }
    .rdrDay {
      height: 40px;
      border-radius: 0;
    }
    .rdrInRange {
      border-radius: 0;
      left: 0;
      top: 0;
      right: 0;
    }
    .rdrStartEdge {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }
    .rdrEndEdge {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    .rdrMonthName {
      padding-top: 0;
    }
    .rdrMonthAndYearWrapper {
      display: none;
    }
    .rdrWeekDays {
      background: #f9fafb;
      border-bottom: 1px solid #d9e0e4;
      //padding-right: 25px;
    }
    .rdrSelected,
    .rdrInRange,
    .rdrStartEdge,
    .rdrEndEdge {
      top: 2px;
      bottom: 3px;
    }

    .rdrDayEndOfMonth .rdrInRange,
    .rdrDayEndOfMonth .rdrStartEdge,
    .rdrDayEndOfWeek .rdrInRange,
    .rdrDayEndOfWeek .rdrStartEdge {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .rdrDayStartOfMonth .rdrInRange,
    .rdrDayStartOfMonth .rdrEndEdge,
    .rdrDayStartOfWeek .rdrInRange,
    .rdrDayStartOfWeek .rdrEndEdge {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .rdrDayEndOfWeek
      .rdrStartEdge.rdrEndEdge
      .rdrDayEndOfMonth
      .rdrStartEdge.rdrEndEdge {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    .rdrDayStartOfWeek .rdrStartEdge.rdrEndEdge,
    .rdrDayStartOfMonth .rdrStartEdge.rdrEndEdge {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }

    .rdrDayStartOfWeek .rdrInRange {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .rdrStartEdge.rdrEndEdge {
      border-radius: 50%;
    }

    .rdrDayStartOfMonth {
      .rdrInRange {
        border-radius: 0;
      }
    }
    .rdrInfiniteMonths.rdrMonthsVertical::-webkit-scrollbar {
      display: none;
    }
    .rdrInfiniteMonths.rdrMonthsVertical {
      /* Hide scrollbar for IE, Edge and Firefox */
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .rdrDayToday .rdrDayNumber span:after {
      background: none;
    }
    .rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span:after {
      background: none;
    }

    .rdrStartEdge,
    .rdrEndEdge {
      color: #ddf6f5 !important;
    }
    .rdrDefinedRangesWrapper {
      padding-top: 10px;
      background-color: #f9fafb;
      @media only screen and (max-width: 600px) {
        background-color: transparent;
        border: none;
        box-shadow: none;
        width: 100%;
      }
    }
    .rdrStaticRange .rdrStaticRangeSelected {
      color: var(--fg-default);
    }
    .rdrDateDisplayWrapper {
      .rdrDateDisplayItem input {
        color: #033048;
      }
      .rdrDateDisplayItemActive input {
        font-weight: bold;
      }
      .rdrDateDisplay {
        margin: 0;
        .rdrDateDisplayItem {
          border: none;
          box-shadow: none;
        }
      }
      .rdrDateDisplay:nth-of-type(1) {
        font-size: 14px;
      }
    }
  }
  .close-date-range-mobile {
    display: none;
  }
  .torq-popover-button-wrapper {
    justify-content: center;
  }
}

.mobile-date-range {
  @media only screen and (max-width: 600px) {
    .close-date-range-mobile {
      display: block;
      position: absolute;
      right: 50%;
      top: calc(50% + 40px);
      transform: translate(50%, -0%);
      background: var(--bg-default);
      padding: 4px 10px;
      border-radius: 2px;
      width: 298px;
    }
  }
  .rdrCalendarWrapper.rdrDateRangeWrapper {
    @media only screen and (max-width: 600px) {
      position: absolute;
      top: 30px;
      right: 50%;
      transform: translate(50%, -0%);
      display: block;
    }
  }

  .date-range-popover-content {
    position: relative;
    background: rgb(3, 48, 72, 0.35);
    @media only screen and (max-width: 600px) {
      height: calc(100vh - 62px);
    }
  }

  .rdrStaticRanges {
    pointer-events: none;
  }
}

.torq .time-interval-wrapper {
  display: grid;
  width: 240px;
  text-align: center;
  cursor: pointer;
  @media only screen and (max-width: 600px) {
    padding: 10px;
    width: auto;
  }
  .icon {
    // TODO: Quick hack, clean up. FLW
    margin-top: -2px;
  }
  .interval {
    min-width: 195px;
  }
  .interval .previous {
    color: var(--fg-muted);
  }
  .interval .text-base {
    font-size: var(--font-size-default);
  }
}
