.nodeSummaryContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: auto;

  background: rgba(255, 255, 255, 0.32);
  box-shadow: 0px 1px 14px rgba(53, 78, 102, 0.12), 0px 3px 5px rgba(53, 78, 102, 0.2);
  border-radius: 8px;
  flex-grow: 1;
  padding: 16px 16px 24px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: var(--font-size-large);
  color: white;
  font-weight: 500;
}

.statusContainer {
  display: flex;
  height: min-content;
  padding: 8px 16px;
  min-width: 100px;
  border-radius: 50px;
  gap: 4px;
  align-content: center;
  justify-content: center;
}
.online {
  background: var(--color-success-layer-2);
  color: var(--color-text-success-strong);
}
.offline {
  background: var(--color-gray-layer-faint);
  color: var(--color-gray-layer-strong);
}

.statusText {
  font-size: var(--font-size-normal);
  font-weight: 400;

  align-content: flex-start;
  padding-top: 2px;
  padding-left: 6px;
}

//.statusText.online{
//  color: var(--color-text-success-strong);
//}
.statusText.offline {
  padding-top: 0px;
  padding-left: 2px;
}
