@import "../input-colors.module";
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--input-color);
  // color both text and all icons in the same color
  svg {
    color: var(--input-placeholder-color);
  }
  label {
    color: var(--input-label-color);
  }
}
.label {
  font-size: var(--font-size-small);
}

.feedbackWrapper {
  display: flex;
  gap: 4px;
  font-size: var(--font-size-small);
  color: var(--color-text-secondary-faded);
  .feedbackText {
    margin-top: 1px;
  }
  svg {
    height: 16px;
    width: 16px;
  }
}
.inputWrapper.tiny {
  .feedbackWrapper {
    font-size: var(--font-size-tiny);
    .feedbackText {
      margin-top: 0px;
    }
    svg {
      height: 12px;
      width: 12px;
    }
  }
}
