.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  &.show {
    display: block;
  }
  .content {
    background-color: var(--color-white);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--primary-150);
    border-radius: 2px;
    width: 90%;
    max-width: 500px;
  }
  .header {
    display: flex;
    font-size: var(--font-size-M);
    margin-bottom: 20px;
    .close {
      margin-left: auto;
    }
    .icon {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
  }
}
