.content {
  z-index: 22;
  background-color: var(--color-white);
  border: 1px solid var(--primary-150);
  border-radius: 2px;
  width: calc(100% - 32px);
  max-width: 500px;
  max-height: calc(100vh - 64px);
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  padding-bottom: 24px;
}
.header {
  display: flex;
  font-size: var(--font-size-M);
  margin: 24px 24px 24px;
  .close {
    margin-left: auto;
  }
  .icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
}
.modalBackdrop {
  position: relative;
  z-index: 20;
  //   opacity: 0;
  background-color: var(--backdrop);
  will-change: top, opacity;
  display: none;
  //   transition: opacity 250ms linear 0s, top 0s linear 250ms;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.show .modalBackdrop {
  display: block;
}
.content.show {
  display: flex;
  flex-direction: column;
}
.content .modalBackdrop {
  display: none;
}
.modalBodyWrapper {
  display: flex;
  overflow-y: auto;
}
.modalBody {
  margin: 0 24px 0px;
}
