.button {
  border-radius: 2px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: 5px;
  padding: 5px 9px;
  cursor: pointer;
  border: 1px solid transparent;

  &.open {
    background-color: var(--accent1-300);
    border: 1px solid var(--accent1-400);
  }

  &:global(.small),
  &:global(.small) :global(.icon) {
    font-size: var(--font-size-small);
  }

  &:global(.small) {
    padding: 2px 4px;
  }

  &:global(.danger) {
    background-color: var(--secondary-300);
    border: 1px solid var(--secondary-400);
  }

  :global(.text) {
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 1000px) {
  .button:global(.small-tablet),
  .button:global(.small-tablet .icon) {
    font-size: var(--font-size-small);
  }
  .button:global(.collapse-tablet) {
    padding: 5px 0.5em;
    :global(.text) {
      display: none;
    }
  }
}

/*
Tab Button
*/
.tabButton {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-auto-flow: column;
  grid-column-gap: 4px;
  padding: 8px;
  border-bottom: 1px solid var(--primary-150);
  color: var(--content-default);
  white-space: nowrap;
  &:hover {
    //background-color: var(--content);
    font-weight: normal;
    border-bottom-color: var(--primary-500);
  }
  &.tabSelected {
    border-color: var(--content-default);
  }
}
