.pageTitleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 32px;
  align-items: flex-end;
  @media only screen and (max-width: 900px) {
    padding-top: 16px;
  }
  @media only screen and (max-width: 700px) {
    flex-direction: column;
    align-items: start;
    padding-top: 12px;
    padding-bottom: 8px;
  }
  .editNameButton {
    display: none;
  }
  &:hover {
    .editNameButton {
      display: block;
    }
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;
  margin-top: 4px;
  padding-top: 0;
  line-height: 1em;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 48px;
  font-size: var(--font-XXL-regular);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  @media only screen and (max-width: 700px) {
    height: 32px;
    font-size: var(--font-L-regular);
  }
}
.pageNameInputWrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.pageNameInput {
  flex-grow: 1;
  height: 48px;
  padding: 8px 16px;
  width: 100%;
  border-radius: var(--radius-default);
  font-size: inherit;
  font-weight: inherit;
  background-color: var(--color-primary-layer-2);
  border: none;
  overflow: visible;
  line-height: 125%;
  &:hover {
    background-color: var(--color-primary-layer-3);
  }

  &:active,
  &:focus {
    outline: none;
    background-color: var(--color-primary-layer-4);
  }
}
.rightWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
