.no-filters {
  padding: 5px 10px;
  background-color: var(--bg-extra-faint);
  border: 1px solid var(--bg-subtle);
  border-radius: 2px;
  color: var(--fg-muted)
}

.torq .filter-popover-content {
  width: 700px;
  @media only screen and (max-width: 900px) {
    width: 100%;
  }

  .filter-rows {
    display: grid;
    justify-content: stretch;
    grid-row-gap: 10px;
    margin-bottom: 20px;
    @media only screen and (max-width: 600px) {
      grid-row-gap: 30px;
    }
  }
  .buttons-row {
    display: grid;
    grid-auto-flow: column;
    justify-items: left;
    justify-content: left;
  }
  .filter-row {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    align-items: center;
    grid-template-columns: 70px 200px 150px auto 30px;
    justify-content: stretch;
    justify-items: stretch;
    .remove-filter.mobile-remove {
      display: none;
    }
    @media only screen and (max-width: 600px) {
      .remove-filter.mobile-remove {
        display: grid;
      }
      .remove-filter.desktop-remove {
        display: none;
      }
      .combiner-container {
        display: grid;
        grid-template-columns: max-content min-content;
        justify-content: space-between;
      }
      grid-auto-flow: row;
      grid-template-columns: auto;
      grid-row-gap: 5px;
      //grid-template-columns: 36px 1fr 1fr 1fr 36px;
    }
  }

  .remove-filter {
    display: grid;
    justify-items: center;
    align-content: center;
    height: 100%;
  }
}
