.torq {
  .no-filters {
    padding: 5px 10px;
    background-color: var(--bg-extra-faint);
    border: 1px solid var(--bg-subtle);
    border-radius: 2px;
    color: var(--fg-muted)
  }
  .filter-rows {
    display: grid;
    justify-content: stretch;
    grid-row-gap: 10px;
    margin-bottom: 20px;
  }
  .buttons-row {
    display: grid;
    grid-auto-flow: column;
    justify-items: left;
    justify-content: left;
  }
  .filter-row {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    align-items: center;
    grid-template-columns: 70px 200px 150px auto 30px;
    justify-content: stretch;
    justify-items: stretch;
    //font-size: var(--font-size-small);
  }

  .remove-filter {
    display: grid;
    justify-items: center;
    align-content: center;
    height: 100%;
  }

  .popover-open {
    display: block;
  }
}
.torq .torq-input-field  {
  border-radius: 2px;
  border: 1px solid var(--bg-subtle);
  background-color: var(--bg-default);
  font-size: var(--font-size-default);
  //outline-color: var(--bg-muted);
  //outline-offset: 0;
  //outline-width: 1px;
  width: 100%;
  padding: 6.5px 10px;
  color: var(--fg-default);
  transition: border 100ms;
  &:focus {
    outline: none;
    border: 1px solid var(--bg-muted);
  }
  &.small {
    font-size: var(--font-size-small);
  }
}
