.accent2 {
  --header-background-color: var(--color-accent-2-faint);
  --header-text-color: var(--color-accent-2-layer-1);
  --header-hover-background-color: var(--color-accent-2-faded);
  --header-active-background-color: var(--color-accent-2-faded);
  --box-shadow-border-color: var(--color-accent-2-faint);
  --box-shadow-border-color-negator: var(--color-primary-layer-4);
}
.accent1 {
  --header-background-color: var(--color-accent-1-faint);
  --header-text-color: var(--color-accent-1-layer-1);
  --header-hover-background-color: var(--color-accent-1-faded);
  --header-active-background-color: var(--color-accent-1-faded);
  --box-shadow-border-color: var(--color-accent-1-faint);
  --box-shadow-border-color-negator: var(--color-primary-layer-2);
}
