.tagWrapper {
  position: relative;
  height: 32px;
  display: flex;
  align-items: center;
  width: min-content;
  background-color: var(--color-primary-layer-3);
  padding: 6px 8px;
  border-radius: var(--radius-default);
  color: var(--color-text-primary-strong);
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
}
.success {
  background-color: var(--color-success-layer-2);
  color: var(--color-text-success-strong);
}
.warning {
  background-color: var(--color-warning-layer-2);
  color: var(--color-text-warning-strong);
}
.error {
  background-color: var(--color-error-layer-2);
  color: var(--color-text-error-strong);
}
.accent1 {
  background-color: var(--color-accent-1-layer-2);
  color: var(--color-text-accent-1-strong);
}
.accent2 {
  background-color: var(--color-accent-2-layer-2);
  color: var(--color-text-accent-2-strong);
}
.accent3 {
  background-color: var(--color-accent-3-layer-2);
  color: var(--color-text-accent-3-strong);
}
.tiny {
  height: 24px;
  padding: 4px 8px;
  font-size: var(--font-size-tiny);
}
.small {
  height: 32px;
  padding: 6px 6px;
  font-size: var(--font-size-small);
}
.normal {
  height: 40px;
  padding: 8px 8px;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 4px;
}
.tagIcon svg {
  display: flex;
  align-items: center;
  width: 12px;
  height: 12px;
  margin-right: 8px;
}
.tiny .tagIcon svg {
  margin-right: 4px;
}
.removeTag {
  cursor: pointer;
}
.deleteIcon {
  position: absolute;
  top: 0;
  width: 24px;
  left: 100%;
  background-color: var(--color-error-layer-3);
  color: var(--color-text-error-strong);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  transition-delay: 100ms;
  border-left: 1px solid var(--color-error-layer-4);
  svg {
    width: 12px;
    height: 12px;
  }
}
.deletable:hover .deleteIcon {
  transform: translate(-100%, 0);
}
