.contentWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto min-content;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "Controls Sidebar"
    "TableControls Sidebar"
    "Table Sidebar";
  grid-column-gap: 32px;
  grid-row-gap: 0;
  @media only screen and (max-width: 900px) {
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
      "Controls"
      "TableControls"
      "Table"
      "Pagination";
  }
}
@media only screen and (max-width: 900px) {
  .contentWrapper {
    grid-column-gap: 0;
  }
}
.pageSidebarWrapper {
  width: 0;
  transition: width 200ms;
  background-color: var(--bg-default);
  grid-area: Sidebar;
  position: relative;
  overflow: hidden;
  border-left: 1px solid var(--primary-100);
  > div {
    width: 320px;
  }
  @media only screen and (max-width: 900px) {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    z-index: 20;
  }
}
.pageSidebarWrapper.sidebarExpanded {
  width: 320px;
}
.tableWrapper {
  padding-bottom: 24px;
  margin-right: 0px;
  //margin-bottom: -15px;
  @media only screen and (max-width: 900px) {
    padding-bottom: 12px;
  }
}
.tableContainer {
  height: 100%;
  position: relative;
  grid-area: Table;
}
.tableExpander {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}
.stagesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-grow: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 10;
  column-gap: 0px;
}
.stageContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0;
  border-bottom-left-radius: var(--radius-default);
  border-top-left-radius: var(--radius-default);
  position: relative;
  fill: var(--color-primary-layer-4);
  //mask-image: url("stageArrowBack.svg"), url("stageArrowFront.svg");
  //mask-repeat: no-repeat, no-repeat;
  //mask-clip: fill-box;
  svg {
    padding: 0;
  }
  &:hover {
    //background-color: var(--color-primary-faint);
    fill: var(--color-primary-faint);
  }
  &.selected {
    //background-color: var(--color-primary-faint);
    fill: var(--color-primary-faint);
  }
}
.stageContainer + .stageContainer {
  margin-left: -8px;
}
.stage {
  background-color: var(--color-primary-layer-4);
  padding-left: 8px;
  padding-right: 8px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  //padding: 8px;
}
.stage:not(svg + .stage) {
  border-bottom-left-radius: var(--radius-default);
  border-top-left-radius: var(--radius-default);
  padding-left: 12px;
}
.stageContainer.selected .stage {
  background-color: var(--color-primary-faint);
}
.stageContainer:hover .stage {
  background-color: var(--color-primary-faint);
}

//.stage:before {
//  content: "";
//  position: absolute;
//  top: 0;
//  left: -18px;
//  width: 40px;
//  height: 40px;
//  //border-top-right-radius: var(--radius-default);
//  //background-color: var(--color-primary-layer-4);
//  //transform: rotate(45deg);
//  //z-index: -1;
//  background-image: url("stageArrowBack.svg");
//  background-position: 0px 0px;
//  background-repeat: no-repeat;
//}
//.stage:hover:before {
//  background-color: var(--color-primary-faint);
//}
//.stage:after,
//.stage:before {
//  left: 100%;
//  top: 50%;
//
//  border: solid transparent;
//  content: "";
//  height: 0;
//  width: 0;
//  position: absolute;
//  pointer-events: none;
//}
//
//.stage:after {
//  border-left-color: var(--color-primary-layer-4);
//  border-width: 20px;
//  margin-top: -20px;
//}
