.date-range-popover {
  z-index: 20;

  .rdrCalendarWrapper.rdrDateRangeWrapper {
    padding: 20px
  }

  .rdrDateRangePickerWrapper {
    color: #033048;
    box-shadow: 0px 0px 10px rgba(3, 48, 72, 0.1);
    border-radius: 2px;
    border: 1px solid var(--bg-subtle);
    .rdrDayNumber span {
      color: #033048 !important;
    }
    .rdrDay {
      height: 2.6em;
    }
    .rdrDayPassive {
      opacity: 0;
    }
    .rdrStaticRange {
      border-bottom: none;
    }
    .rdrStaticRangeLabel {
      font-size: 14.5px;
      color: #8198a3;
    }
    .rdrStaticRangeSelected {
      font-weight: bold;

      .rdrStaticRangeLabel {
        color: #033048 !important;
      }
    }
    .rdrMonth {
      box-sizing: content-box;
      width: 274px;
      //padding-bottom: 0;
    }
    .rdrDay {
      height: 40px;
      border-radius: 0;
    }
    .rdrInRange {
      border-radius: 0;
      left: 0;
      top:0;
      right:0;
    }
    .rdrStartEdge {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }
    .rdrEndEdge {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    .rdrMonthName {
      padding-top: 0;
    }
    .rdrMonthAndYearWrapper {
      display: none;
    }
    .rdrWeekDays {
      background: #f9fafb;
      border-bottom: 1px solid #d9e0e4;
      //padding-right: 25px;
    }
    .rdrSelected,
    .rdrInRange,
    .rdrStartEdge,
    .rdrEndEdge {
      top: 2px;
      bottom: 3px;
    }

    .rdrDayEndOfMonth .rdrInRange,
    .rdrDayEndOfMonth .rdrStartEdge,
    .rdrDayEndOfWeek .rdrInRange,
    .rdrDayEndOfWeek .rdrStartEdge, {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .rdrDayStartOfMonth .rdrInRange,
    .rdrDayStartOfMonth .rdrEndEdge,
    .rdrDayStartOfWeek .rdrInRange,
    .rdrDayStartOfWeek .rdrEndEdge {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .rdrDayEndOfWeek .rdrStartEdge.rdrEndEdge
    .rdrDayEndOfMonth .rdrStartEdge.rdrEndEdge {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    .rdrDayStartOfWeek .rdrStartEdge.rdrEndEdge,
    .rdrDayStartOfMonth .rdrStartEdge.rdrEndEdge {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }

    .rdrDayStartOfWeek .rdrInRange {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .rdrStartEdge.rdrEndEdge {
      border-radius: 50%;
    }

    .rdrDayStartOfMonth {
      .rdrInRange {
        border-radius: 0;
      }
    }
    .rdrInfiniteMonths.rdrMonthsVertical::-webkit-scrollbar {
      display: none;
    }
    .rdrInfiniteMonths.rdrMonthsVertical {
      /* Hide scrollbar for IE, Edge and Firefox */
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

    }


    .rdrDayToday .rdrDayNumber span:after {
      background: none;
    }
    .rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span:after {
      background: none;
    }

    .rdrStartEdge,
    .rdrEndEdge {
      color: #ddf6f5 !important;
    }
    .rdrDefinedRangesWrapper {
      background-color: #f9fafb;
    }
    .rdrStaticRange .rdrStaticRangeSelected {
      color: #033048 !important;
    }
    .rdrDateDisplayWrapper {
      .rdrDateDisplayItem input {
        color: #033048;
      }
      .rdrDateDisplayItemActive input {
        font-weight: bold;
      }
      //background-color: white;
      .rdrDateDisplay {
        margin: 0;
        .rdrDateDisplayItem {
          border: none;
          box-shadow: none;
        }
      }
      .rdrDateDisplay:nth-of-type(1) {
        font-size: 14px;
      }
    }
  }
}

.torq .time-interval-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content auto;
  margin: 0 15px;
  grid-column-gap: 8px;
  text-align: center;
  padding: 20px 0;

  .icon {
    // TODO: Quick hack, clean up. FLW
    margin-top: -2px;
  }
  .interval .previous {
    color: var(--fg-muted);
  }
}
