.tagCell {
  align-items: flex-start !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px;
  column-gap: 4px;
}
.tagLinks {
  display: flex;
  column-gap: 8px;
  cursor: pointer;
}
.updateLink {
  cursor: pointer !important;
  &:hover {
    font-weight: normal;
  }
}
