.modalBackdrop {
  //visibility: hidden;
  z-index: 20;
  opacity: 0;
  background-color: var(--backdrop);
  will-change: top, opacity;
  transition: opacity 250ms linear 0s, top 0s linear 250ms;
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}

.popoutWrapper {
  position: fixed;
  z-index: 21;
  will-change: right;
  transition: right 250ms;
  right: -100%;
  top: 12px;
  bottom: 12px;
  background-color: var(--color-white);
  border-bottom-left-radius: var(--radius-default);
  border-top-left-radius: var(--radius-default);
  width: 500px;
  max-width: 90%;
  overflow: hidden;
}
.popoutWrapper.fullWidth {
  max-width: calc(100% - 24px);
  width: 1500px;

  @media only screen and (max-width: 700px) {
    max-width: 100%;
    top: 0;
    bottom: 0;
  }
}
@media only screen and (max-width: 700px) {
  .popoutWrapper {
    min-width: calc(100% - 24px);
  }
}

.show {
  position: relative;
  z-index: 9999;
  .modalBackdrop {
    top: 0;
    opacity: 1;
    transition: opacity 250ms linear 0s, top 0s linear 0s;
  }
  .popoutWrapper {
    right: 0;
  }

  .popoutWrapper.showWrapper {
    transform: translateX(0);
  }

  //.popoutWrapper.fadeEnterActive {
  //}
  //
  //.popoutWrapper.fadeExit {
  //}
  //
  //.popoutWrapper.fadeExitActive {
  //}
}
.contentWrapper {
  padding: 8px 24px 16px;
  overflow-y: auto;
  height: calc(100% - 48px);
  position: relative;
  display: flex;
  flex-direction: column;
}
.fullWidth .contentWrapper {
  background-color: var(--color-primary-layer-1);
}
.header {
  display: flex;
  align-items: center;
  font-size: var(--font-size-M);
  //padding-bottom: 16px;
  padding: 16px 16px 8px;
  .close {
    margin-left: auto;
    padding: 8px;
    cursor: pointer;
    //margin-top: -8px;
    //margin-right: -8px;
  }
  .icon {
    display: flex;
    align-items: center;
    padding: 8px;
    //margin-top: -8px;
    //margin-left: -8px;
  }
}
