.contentWrapper {
  width: 100%;
  max-width: 1500px;
  height: 100%;
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto min-content;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "Title Sidebar"
    "Content Sidebar";
  grid-column-gap: 32px;
  grid-row-gap: 0;
  @media only screen and (max-width: 900px) {
    grid-column-gap: 12px;
  }
}
.pageSidebarWrapper {
  width: 0;
  background-color: var(--bg-default);
  grid-area: Sidebar;
  position: relative;
  overflow: hidden;
}
.pageSidebarWrapper.sidebarExpanded {
  width: 320px;
}
.dashboardPageContent {
  grid-area: Content;
}
.dashboardPageTitle {
  color: white;
  margin-bottom: 30px;

}
.pageSidebarWrapper {
  width: 0;
  background-color: var(--bg-default);
  grid-area: Sidebar;
  position: relative;
  overflow: hidden;
}
.pageSidebarWrapper.sidebarExpanded {
  width: 320px;
}

.leftWrapper {
}
