.textInput {
  border: 1px solid var(--fg-subtle);
  border-radius: var(--radius-default);
  width: 100%;
  padding: 10px;
  outline: none !important;
  &:focus {
    border-color: var(--primary-500);
  }
}
