.torq .item {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;

  &.selected {
    font-weight: 500;
  }

  .content-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto min-content;
    grid-column-gap: 5px;
    justify-items: space-between;
    align-items: center;
  }

  .title {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content auto;
    grid-column-gap: 0.4em;
    justify-content: start;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    &.no-icon {
      grid-auto-columns: auto;
    }
    .text {
      line-height: 1.25em;
    }
    .icon {
      height: 1.5em;
      text-align: center;
      svg {
        fill: var(--fg-default);
        margin: 0;
        height: 1.5em;
      }
    }
  }

  .actions {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 5px;
    .action {
      height: calc(1.5em + 12px);
      text-align: center;
      padding: 6px 6px;
      svg {
        fill: var(--fg-default);
        margin: 0;
        height: 1.5em;
      }
    }
  }


}
