.torq .navigation {
  background-color: var(--bg-extra-faint);
  height: 100vh;
  width: 290px;
  padding: 30px;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 30px;
  grid-auto-rows: min-content;

  .logo-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto min-content;
    grid-column-gap: 4px;
    justify-items: space-between;
    .logo svg {
      height: 1.5em;
    }
    .collapse {
      display: none;
      font-size: 1.5em;
      color: var(--fg-muted);
    }
  }

  .menu-items {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 15px;
    grid-auto-rows: min-content;
  }

}
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1200px) {
  .torq .main-content-wrapper {
    &.nav-hidden .navigation-wrapper {
      width: 0px;
      transition: width 200ms;
      height: 100vh;

      .navigation {
        position: absolute;
        left: -290px;
        transition: left 250ms;
        z-index: 100;
      }
    }
    .navigation-wrapper {
      position: fixed;
      z-index: 11;
      top: 0;
      bottom: 0;
      height: 100vh;
      box-shadow: 1px 0px 10px rgba(0,0,0,0.15);
      .logo-wrapper .collapse {
        display: block;
      }
    }
  }
}


