.torq .navigation {
  background-color: var(--fg-default);
  color: var(--fg-faint);
  //border-radius: 2px;
  //position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  //max-width: 270px;
  padding: 30px;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 30px;
  grid-auto-rows: min-content;

  .logo-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto min-content;
    grid-column-gap: 4px;
    justify-items: space-between;
    .logo svg {
      height: 1.5em;
    }
    .collapse {
      font-size: 1.5em;
      color: var(--fg-muted);
    }
  }

  .menu-items {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 15px;
    grid-auto-rows: min-content;
  }

}

