.torq .node-selector {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 15px;
  grid-auto-rows: min-content;
  .content {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto min-content;
    grid-column-gap: 5px;
    line-height: 1.25em;
    justify-items: space-between;
    align-items: center;
    font-weight: 400;

    .title {
      .text {
        line-height: 1.25em;
      }
      .icon {
        height: 1.25em;
        svg {
          fill: var(--fg-default);
          margin: 0;
        }
      }
    }

    .actions {
      .icon {
        height: 1.25em;
        svg {
          fill: var(--fg-default);
          margin: 0;
        }
      }
    }
  }

}
