.torq .torq-popover-button-wrapper {
  position: relative;

  .popover-wrapper {
    z-index: 20;
    background-color: var(--bg-default);
    position: absolute;
    left: 0;
    min-width: 100px;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid var(--bg-subtle);
    box-shadow: var(--popover-box-shadow);
    top: -2000px;
    transition: top 0ms 100ms, opacity 100ms 0ms;
    opacity: 0;
  }

  .popover-wrapper.popover-open {
    top: calc(100% + 10px);
    transition: top 0ms 0ms, opacity 100ms 0ms;
    opacity: 1;
  }
}
