.pageSidebarWrapper {
  box-shadow: 0 0 8px rgba(3, 48, 72, 0.06);
  width: 0;
  transition: width 200ms;
  background-color: var(--bg-default);
  grid-area: Sidebar;
  position: relative;
  overflow: hidden;
  border-left: 1px solid var(--primary-100);
  > div {
    width: 320px;
  }
  @media only screen and (max-width: 900px) {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
  }
}
.pageSidebarWrapper.sidebarExpanded {
  width: 320px;
}
