.torq .outer {
  position: relative;
  height: 100%;
}
.torq .table-page-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

