.labelWrapper {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 8px;
}

.label {
  color: var(--content-muted);
  font-size: var(--font-size-small);
  font-weight: 500;
}

.customButtonWrapperStyles {
  margin-top: 24px;
  margin-bottom: 16px;
}
.updateChannelResultIconWrapper {
  padding: 8px;
  width: min-content;
  border-radius: 100%;
  margin: 12px auto;
  svg {
    font-size: 124px;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inFlight {
  color: var(--color-baige-700);
  background-color: var(--color-baige-300);
  svg {
    font-size: 124px;
    animation: rotate 1s infinite linear 0s;
  }
}
.success {
  background-color: var(--secondary-2-100);
  color: var(--secondary-2-600);
}
.failed {
  background-color: var(--color-red-300);
  color: var(--color-red-500);
}
.updateChannelStatusMessage {
  font-size: var(--font-size-M);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
