.noteWrapper {
  background-color: var(--secondary-1-50);
  border-radius: var(--radius-default);
  padding: 16px;
  //margin-bottom: 8px;
  //margin-top: 8px;
  &.error {
    background-color: var(--color-red-300);
  }
}
.noteTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--secondary-1-700);
}
.error .noteTitleWrapper {
  color: var(--color-red-500);
}
.noteContent {
  color: var(--secondary-1-700);
}
.error .noteContent {
  color: var(--content-default);
}
