@use "/src/styles/typography.scss";

.sidebarWrapper {
  display: flex;
  flex-direction: column;
  grid-auto-rows: min-content;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  grid-row-gap: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  @media only screen and (max-width: 900px) {
    grid-row-gap: 0px;
  }
}
.titleContainer {
  position: sticky;
  top: 0;
  background-color: var(--bg-default);
  padding: 16px;
}

.titleContainer,
.sectionTitleContainer {
  display: grid;
  grid-template-columns: 44px auto 44px;
  grid-template-rows: 44px;
  align-items: center;
  gap: 4px;
}
.titleContainer {
  flex-grow: 0;
}

.sectionTitleContainer {
  border-bottom: 1px solid var(--content-subtle);
  margin-bottom: 16px;
}
.sidebarContent {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.sidebarContent,
.sidebarSectionContent {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.sidebarSectionContent {
  margin-bottom: 16px;
  height: 0px;
  transition: height 200ms;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.expanded {
  height: auto;
  overflow: initial;
}
.icon,
.sidebarIcon,
.close {
  padding: 8px;
  display: grid;
  align-items: center;
  justify-items: center;
}
.title {
  @include typography.L-regular;
}
