@use "/src/styles/typography.scss";

.sidebarWrapper {
  display: flex;
  flex-direction: column;
  grid-auto-rows: min-content;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  grid-row-gap: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  @media only screen and (max-width: 900px) {
    grid-row-gap: 0px;
  }
}
.titleContainer {
  position: sticky;
  top: 0;
  background-color: var(--bg-default);
  padding: 16px;
  display: grid;
  grid-template-columns: 44px auto 44px;
  grid-template-rows: 44px;
  align-items: center;
  gap: 4px;
  flex-grow: 0;
}

.sidebarContent {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.sidebarContent {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.expanded {
  height: auto;
  overflow: initial;
}
.icon,
.close {
  padding: 8px;
  display: grid;
  align-items: center;
  justify-items: center;
}
.title {
  @include typography.text-large;
}
