.viewsPopoverContent {
  width: 375px;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}
.viewRows {
  margin-bottom: 20px;
  display: grid;
  grid-row-gap: 10px;
}
.viewSelect {
  display: grid;
  grid-template-columns: auto 21px;
  justify-self: left;
  padding: 6.5px 10px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
}
.viewEdit {
  display: grid;
  grid-template-columns: auto min-content;
  justify-self: left;
  cursor: pointer;
}
.removeView {
  color: var(--fg-default);
  cursor: pointer;
}
.disabled {
  color: var(--fg-subtle);
}
.viewRow {
  display: grid;
  grid-template-columns: 36px auto 36px;
  align-items: center;
  justify-items: center;
}
