.contentWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto min-content;
  grid-template-rows: min-content min-content auto min-content;
  grid-template-areas:
    "Controls Sidebar"
    "TableControls Sidebar"
    "Table Sidebar"
    "Pagination Sidebar";
  column-gap: 32px;
  grid-row-gap: 0;
  @media only screen and (max-width: 900px) {
    padding-right: 12px;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
      "Controls"
      "TableControls"
      "Table"
      "Pagination";
  }
  //& > div:empty {
  //  display: none !important;
  //}
}
@media only screen and (max-width: 900px) {
  .contentWrapper {
    column-gap: 0;
  }
}
.leftWrapper {
}
.tableWrapper {
  padding-top: 12px;
}
.tableContainer {
  height: 100%;
  position: relative;
  grid-area: Table;
}
.totalWrapper {
  grid-area: Totals;
  display: grid;
}
.paginationWrapper {
  grid-area: Pagination;
  @media only screen and (max-width: 900px) {
    padding-right: 12px;
  }
}
.pageSidebarWrapper {
  width: 0;
  transition: width 200ms;
  background-color: var(--bg-default);
  grid-area: Sidebar;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(3, 48, 72, 0.06);
  border-right: 1px solid var(--material-layer-3);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;

  > div {
    width: 320px;
  }
  @media only screen and (max-width: 900px) {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
  }
}
.pageSidebarWrapper.sidebarExpanded {
  width: 320px;
}
.tableControlsSection {
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  grid-auto-columns: min-content;
  grid-template-columns: auto;
  column-gap: 4px;
  grid-area: TableControls;
}
.tableExpander {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 8px;
  top: 0;
  @media only screen and (max-width: 900px) {
    right: 0;
    bottom: 1em;
  }
}

.tableControlsButtonGroup {
  display: grid;
  grid-auto-flow: column;
  column-gap: 4px;
  grid-auto-columns: min-content;
}
.tableControlsButtonWrapper {
  height: 40px;
  display: grid;
  align-items: center;
  justify-items: center;
}
.tableControlsButtonIcon {
  height: 40px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 2px;
  svg {
    height: auto;
  }
}
.active {
  .tableControlsButtonIcon {
    color: var(--content-default);
    background-color: var(--primary-100);
    //border: 1px solid var(--accent1-400);
  }
}

.tableControlsTabsGroup {
  display: grid;
  grid-auto-flow: column;
  //grid-auto-columns: min-content;
  column-gap: 8px;
}
