.torq .main-content-wrapper {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  width: 100%;
  .navigation-wrapper {
    width: 290px;
    overflow: hidden;
    transition: width 250ms;
    flex-shrink: 0;
  }
  .page-wrapper {
    overflow: hidden;
    width: 100%;
  }
}
