.DateCell {
  justify-items: flex-start;
  min-width: initial;
}
.DateCell {
  white-space: nowrap;
}
.dateRow,
.timeRow {
  display: flex;
  column-gap: 5px;
  justify-items: flex-start;
  align-items: center;
  svg {
    color: var(--content-muted);
  }
}
