.torq .table-content {
  .cell {
    display: grid;
    grid-row-gap: 10px;
    padding: 10px 0 10px 20px;
    align-items: start;
    justify-items: stretch;
    text-align: right;
    &.align-left {
      padding: 10px 20px 10px 0;
    }
    .past {
      color: var(--fg-muted);
      font-size: var(--font-size-small);
    }
    .positive {
      color: var(--primary-500)
    }
    .negative {
      color: var(--secondary-500)
    }
  }

  .bar-cell {
    position: relative;
    z-index: 2;
    grid-row-gap: 2px;
    .bar-wrapper {
      display: grid;
      justify-items: end;
      background-color: var(--primary-300);
    }
    .bar {
      height: 5px;
      min-width: 2px;
      background-color: var(--primary-500);
    }
    //.bar {
    //  position: absolute;
    //  z-index: -1;
    //  top: 9px;
    //  right: 1px;
    //  height: 18px;
    //  min-width: 2px;
    //  background-color: var(--primary-300);
    //}
    //.total-bar {
    //  position: absolute;
    //  z-index: -2;
    //  top: 8px;
    //  right: 0;
    //  height: 20px;
    //  width: 100%;
    //  border-bottom: 1px solid var(--primary-400);
    //}
  }

  .header {
    display: grid;
    justify-items: end;
    align-items: end;
    grid-row-gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--bg-lines);
    white-space: nowrap;
    &.group_name {
      justify-items: start;
    }
  }

  .header {

  }
}

