.tick line {
  //visibility: hidden;
  stroke: var(--fg-subtle);
}
.tick text {
  fill: var(--content-default);
}
.xAxisContainer path.domain {
  stroke: var(--bg-subtle);
}
.leftYAxisContainer path.domain,
.rightYAxisContainer path.domain {
  visibility: hidden;
}
.leftYAxisLabelContainer,
.rightYAxisLabelContainer {
  position: absolute;
  top: 0;
  right: 5px;
  width: 100%;
  text-align: right;
  padding: 2px 5px 2px 5px;
  background-color: rgba(3, 48, 72, 1);
  backdrop-filter: blur(2px);
  border-radius: 2px;
  transform: translateY(-50%);
}
.rightYAxisLabelContainer {
  left: 4px;
  text-align: left;
}
.xAxisLabelContainer {
  position: absolute;
  bottom: 5px;
  text-align: center;
  padding: 2px 5px 2px 5px;
  background-color: var(--bg-muted);
  color: white;
  backdrop-filter: blur(2px);
  border-radius: 2px;
  transform: translateX(-50%);
}

.eventsContainer {
  pointer-events: none;
}
.eventsContainer .event-wrapper {
  display: grid;
  grid-row-gap: 5px;
  justify-items: center;
  transform: translateX(-50%);
}
.eventsContainer .event-item {
  border-radius: 2px;
  padding: 3px 5px;
  white-space: nowrap;
  word-break: keep-all;
  height: 24px;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-column-gap: 5px;
  //opacity: 0.7;
  @media only screen and (max-width: 900px) {
    .event-item-text {
      display: none;
    }
  }
}
.channel_open {
  background-color: var(--primary-250);
  &.inbound {
    background-color: var(--primary-100);
  }
}
.channel_close {
  background-color: var(--secondary-400);
  &.inbound {
    background-color: var(--secondary-200);
  }
}
.fee_rate {
  background-color: var(--accent1-400);
  &.inbound {
    background-color: var(--accent1-300);
  }
}
.base_fee {
  background-color: var(--bg-subtle);
  &.inbound {
    background-color: var(--bg-faint);
  }
}
.rebalanced_out {
  background-color: var(--secondary-2-50);
  &.inbound {
    background-color: var(--secondary-200);
  }
}
.rebalanced_in {
  background-color: var(--secondary-2-100);
  &.inbound {
    background-color: var(--secondary-200);
  }
}
.disabled {
  background-color: var(--color-baige-400);
  &.inbound {
    background-color: var(--color-baige-300);
  }
}
.enabled {
  background-color: var(--color-baige-400);
  &.inbound {
    background-color: var(--color-baige-300);
  }
}
.min_htlc {
  background-color: var(--primary-250);
  &.inbound {
    background-color: var(--primary-50);
  }
}
.max_htlc {
  background-color: var(--secondary-2-100);
  &.inbound {
    background-color: var(--secondary-2-50);
  }
}
canvas {
  image-rendering: crisp-edges;
}
.labelsContainer {
  div {
    position: absolute;
    white-space: nowrap;
    color: var(--fg-muted);
    //@media only screen and (max-width: 600px) {
    //  display: none;
    //}
  }

  .hover {
    color: var(--fg-default);
  }

  .flow-inbound-node,
  .flow-outbound-node {
    transform: translateY(-50%);
    @media only screen and (max-width: 600px) {
      display: block;
    }
  }
  .flow-inbound-node {
    transform: translate(-100%, -50%);
  }

  .flow-inbound-value,
  .flow-outbound-value {
    transform: translate(-100%, -50%);
    &.hover {
      @media only screen and (max-width: 600px) {
        display: block;
      }
    }
  }
  .flow-inbound-value {
    transform: translate(-0, -50%);
  }
  .flow-inbound-value-total,
  .flow-outbound-value-total {
    color: var(--fg-default);
    @media only screen and (max-width: 600px) {
      display: block;
    }
  }
  .flow-outbound-value-total {
    transform: translate(-100%, 0);
  }
  .flow-inbound-value-total {
    transform: translate(0, 0);
  }
}
.legendsContainer {
  color: var(--fg-muted);
  height: 20px;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr min-content min-content 1fr;
  column-gap: 32px;
  .destinations {
    justify-self: end;
  }
}
.legendContainer {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  .legendContent {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content min-content auto;
    align-items: center;
    grid-column-gap: 5px;
    white-space: nowrap;
  }
  .legendTextBox {
    text-align: end;
  }
}
