name: Docker latest image on release

on:
  release:
    types: [published]

jobs:
  setup:
    uses: ./.github/workflows/run-all-setup.yml

  amd64:
    runs-on: buildjet-4vcpu-ubuntu-2204
    name: Push AMD64 Docker image to Docker Hub
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: lncapital/torq
          flavor: |
            latest=false
          tags: |
            type=raw,enable=true,value=amd64-latest
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            BUILD_VER=${{ steps.meta.outputs.version }}
            BUILD_REPOSITORY=${{ steps.vars.outputs.repo }}
            BUILD_BRANCH=${{ steps.vars.outputs.branch }}
            BUILD_COMMIT=${{ steps.vars.outputs.commit }}
  arm:
    runs-on: buildjet-4vcpu-ubuntu-2204-arm
    name: Push ARM Docker image to Docker Hub
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: lncapital/torq
          flavor: |
            latest=false
          tags: |
            type=raw,enable=true,value=arm-latest
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            BUILD_VER=${{ steps.meta.outputs.version }}
            BUILD_REPOSITORY=${{ steps.vars.outputs.repo }}
            BUILD_BRANCH=${{ steps.vars.outputs.branch }}
            BUILD_COMMIT=${{ steps.vars.outputs.commit }}
  combine-manifests:
    runs-on: buildjet-4vcpu-ubuntu-2204
    name: Combine architectures into one manifest
    needs:
      - amd64
      - arm
    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Docker create manifest
        run: >
          docker manifest create
          lncapital/torq:latest
          --amend lncapital/torq:amd64-latest
          --amend lncapital/torq:arm-latest
      - name: Docker push manifest
        run: docker manifest push lncapital/torq:latest
