.columnsPopoverContent {
  @media only screen and (max-width: 900px) {
    width: 100%;
  }
  display: grid;
  row-gap: 20px;
}
.columnRows {
  display: grid;
  grid-row-gap: 10px;
}
.divider {
  border-top: 1px solid var(--bg-subtle);
}
.removeColumn.disabled {
  color: var(--fg-subtle);
}
.columnSearchWrapper {
  position: relative;
  .searchIcon {
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    display: grid;
    align-items: center;
    margin-top: -0.5px;
    font-size: 18px;
  }
  input.columnSearchField {
    padding-left: 40px;
    font-size: var(--font-size-default);
  }
}
.columnRow {
  display: grid;
  grid-template-columns: 36px minmax(300px, 100%) 150px 36px;
  align-items: center;
  justify-content: left;
  padding-left: 5px;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 36px 1fr 1fr 36px;
    .columnName {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
.rowLeftIcon {
  justify-self: center;
  margin-left: -10px;
  padding-left: 5px;
  padding-right: 5px;
  &.dragHandle {
    cursor: grab;
  }
  &.lockBtn {
    cursor: pointer;
  }
}
.removeColumn, .addColumn {
  cursor: pointer;
  justify-self: center;
  margin-right: -10px;
  padding-right: 5px;
  padding-left: 5px;
}
.unselectedColumnsWrapper {
  display: grid;
  grid-row-gap: 10px;
}

.unselectedColumnRow {
  display: grid;
  grid-template-columns: auto 36px;
  align-items: center;
  justify-content: space-between;
  padding: 8.5px 0px 8.5px 5px;
  cursor: pointer;
  &:hover {
    background-color: var(--bg-faint);
  }
}
.noFilters {
  padding: 5px 10px;
  background-color: var(--bg-extra-faint);
  border: 1px solid var(--bg-subtle);
  border-radius: 2px;
  color: var(--fg-muted);
}

